.props {
    background-color: #FFF8F5;
    padding: 99px 0 60px;
}
.props_container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.props_line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
[class*="props_line_"]{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.props_img {
    max-width: 83px;
    width: 100%;
    height: auto;
}
[class*="_text_title"]{
    color: #292E36;
    font-family: Cormorant Infant, serif;
    font-size: 1.875rem; /*30px*/
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.2px;
}
[class*="_text_desc"]{
    color: #555;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.25rem; /*20px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}
.del_story {
    background-color: #FFF8F5;
    padding: 60px 0 125px;
}
.del_story_content {
    display: flex;
    flex-direction: row;
    gap: 45.25px;
}
.del_story_content_text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.del_story_content_text_title {
    font-size: 2.5rem; /*40px*/
}
.del_story_content_text_desc {
    margin: 15px 0 5px;
}
.del_story_content_text_goal {
    padding: 20px 0 0 0;
}
.del_story_content_text_goal {
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.del_story_content_image img {
    width: 100%;
    height: auto;
}
.goal_text_title {
    font-size: 2.5rem; /*40px*/
    padding: 0 0 15px 0;
}
.realized_goal_text_title {
    font-size: 2.5rem; /*40px*/
    padding: 0 0 15px 0;
}
.signature_desc {
    padding: 15px 0 20px;
}
.signature {
    max-width: 200px;
}
.menu {
    background-color: #FFFFFF;
    padding: 140px 0 60px 0;
}
.menu_container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 50px;
}
[class*="_section_name"]{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
    font-family: Josefin Sans, sans-serif;
    font-size: 0.9375rem; /*5px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.menu_section_name {
    color: #292E36;
}
.menu_section_name img {
    max-width: 60px;
}
.menu_special_dishes {
    display: flex;
    flex-direction: column;
    gap: 44px;
}
.menu_special_dishes_text {
    padding: 20px 0 0 0;
}
.menu_text_title {
    font-size: 2.5rem; /*40px*/
    padding: 12px 0 13px;
}
.menu_text_desc {
    max-width: 486px;
}
.menu_special_dishes img {
    width: 100%;
    height: auto;
}
.menu_special_dishes_button {
    max-width: 255px;
    margin: 44px 0 0 0;
}
.not_white_color {
    color: #E1B168;
}
.menu_dishes {
    display: flex;
    flex-direction: column;
    margin: 54px 0 0 0;
    gap: 65px;
}
.menu_starters {
    display: flex;
    flex-direction: column;
}
.menu_items {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 55px 0 0 0;
}
.menu_item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
[class*="dishes_title"]{
    color: #292E36;
    font-family: Cormorant Infant, serif;
    font-size: 2.25rem; /*36px*/
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}
.dish_name {
     color: #292E36;
     font-family: Cormorant Infant, serif;
     font-size: 1.875rem; /*30px*/
     font-style: normal;
     font-weight: 400;
     line-height: 140%;
     letter-spacing: 0.2px;
}
.dish_desc {
    display: flex;
    flex-direction: row;
}
.dish_price {
    color: #292E36;
    font-family: Cormorant Infant, serif;
    font-size: 1.875rem; /*30px*/
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}
.black_color {
    display: flex;
    text-align: left;
    color: #555555;
}
.testimonial {
    background-color: #292E36;
    margin: 140px 0 0;
    padding: 140px 0 120px;
}
.testimonial_container {
    display: flex;
    flex-direction: column;
}
.testimonial_section_name {
    padding: 4px 0 12px;
}
.testimonial_text_title {
    color: #FFFFFF;
    font-size: 2.5rem; /*40px*/
}
.testimonial_text_desc {
    color: #FFFFFF;
    padding: 8px 0 20px;
}
.testimonial_carousel {
    display: flex;
    flex-direction: row;
    padding: 40px 0 49px;
}
.testimonial_carousel_items {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.testimonial_carousel_item {
    background-color: #343942;
    padding: 0 40px 5px;
}
.testimonial_navigation_frame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 0 0;
}
@media (max-width: 968px){
    testimonial_column {
        display: block;
    }
}
.client {
    display: flex;
    flex-direction: column;
}
.client_data {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.client_text {
    display: flex;
    flex-direction: column;
    margin: 20px 0 52px 0;
}
.client_name {
    color: #FFF;
    font-family: Cormorant Infant, serif;
    font-size: 1.875rem; /*30px*/
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}
.client_city {
    color: #E1B168;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.25rem; /*20px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}
.client_feedback {
    color: #FFF;
    font-family: Cormorant Infant, serif;
    font-size: 1.5rem; /*24px*/
    font-style: normal;
    font-weight: 400;
    line-height: 156.25%;
    letter-spacing: 0.25px;
    padding: 32px 0 5px;
    max-width: 454px;
}
.testimonial_column {
    display: none;
    padding: 40px 0 49px;
}
.testimonial_column_items {
    display: none;
    gap: 30px;
}
.testimonial_column_item {
    background-color: #343942;
    padding: 0 40px 5px;
    width: 87.04vw;
}
.testimonial_navigation_frame {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 0 0 0;
}
.column_client {
    display: flex;
    flex-direction: column;
}
.column_client_data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}
.column_client_text {
    display: flex;
    flex-direction: column;
    margin: 20px 0 52px 0;
}
.column_client_name {
    color: #FFF;
    font-family: Cormorant Infant, serif;
    font-size: 1.875rem; /*30px*/
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
}
.column_client_city {
    color: #E1B168;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.25rem; /*20px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
}
.column_client_feedback {
    color: #FFF;
    font-family: Cormorant Infant, serif;
    font-size: 1.5rem; /*24px*/
    font-style: normal;
    font-weight: 400;
    line-height: 156.25%;
    letter-spacing: 0.25px;
    padding: 32px 0 5px;
    max-width: 454px;
}
.bg_only {
    background: url('../images/bg-image.jpg') no-repeat center;
    background-size: cover;
    max-width: 100%;
    height: 400px;
}
.offers {
    padding: 140px 0 0 0;
}
.offers_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.offers_section_name {
    color: #292E36;
}
.offers_text_title {
    font-size: 2.5rem; /*40px*/
}
.offers_text_desc {
    text-align: center;
    max-width: 820px;
}
.offers_dishes {
    display: flex;
    flex-direction: row;
    margin: 40px 0 0 0;
    gap: 30px;
}
.burger img {
    width: 100%;
    height: auto;
}
.pizza img {
    width: 100%;
    height: auto;
}
.popular_dishes {
    padding: 125px 0 0 0;
}
.popular_dishes_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular_dishes_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.popular_dishes_section_name {
    color: #292E36;
}
.popular_dishes_text_title {
    font-size: 2.5rem; /*40px*/
}
.popular_dishes_text_desc {
    text-align: center;
    max-width: 760px;
}
.popular_dishes_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0 40px;
    gap: 30px;
}
.popular_dishes_item img {
    width: 100%;
    height: auto;
    max-width: 318px;
}
.name_and_price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popular_dishes_item_text_desc {
    max-width: 316px;
    padding: 26px 0 0 0;
}
.popular_dishes_button {
    margin: 20px 0 0 0;
    max-width: 255px;
}
.services {
    background-color: #292E36;
    padding: 140px 0 140px;
    margin: 140px 0 0 0;
}
.services_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.services_text_title {
    color: #FFFFFF;
    font-size: 2.5rem; /*40px*/
    padding: 10px 0 13px;
}
.services_text_desc {
    color: #FFFFFF;
    max-width: 438px;
}
.services_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    /* margin: 0 0 0 90px; */
}
.services_item img {
    width: 100%;
    height: auto;
}
.blog {
    padding: 140px 0 0 0;
}
.blog_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.blog_section_name {
    color: #292E36;
}
.blog_text_title {
    font-size: 2.5rem; /*40px*/
}
.blog_text_desc {
    max-width: 465px;
    text-align: center;
}
.blog_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0 50px 0;
}
.blog_item {
    display: flex;
    flex-direction: column;
    border: 1px solid #919191;
    margin-bottom: 20px;
}
@media (max-width: 1359px){
    .blog_item {
        width: 100%;
    }
    .blog_info_text_title,
    .blog_info_text_desc {
        max-width: 100% !important;
    }
    .blog_info_text {
        padding: 4.88vw 4.49vw 3.71vw !important;
    }
}
.blog_item img {
    width: 100%;
    height: auto;
}
.blog_info_text {
    display: flex;
    flex-direction: column;
    padding: 50px 46px 38px; //4.88 4.49 3.71
}
.blog_info_text_title {
    max-width: 502px;
    padding: 2.63vw 0 2.34vw;
}
.blog_info_text_desc {
    max-width: 547px;
}
.reservation {
    background: url('../images/reservation.jpg') no-repeat;
    background-size: cover;
    height: 1025px;
    max-width: 100%;
    padding: 140px 0;
}
.reservation_container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.reservation_rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #292E36F2;
    opacity: 95%;
    padding: 140px 0; //13.67vw
    max-width: 920px;
}
.reservation_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 184px 18px;
}
.reservation_text_title {
    font-size: 2.5rem; /*40px*/
    color: #FFFFFF;
    padding: 11px 0 18px;
}
.reservation_form {
    display: flex;
    flex-direction: column;
    /* max-width: 640px; */ 
    padding: 0 144px 10px;
}
.reservation_form_part_1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    gap: 14.3px;
    padding: 0 0 30px 0;
}
.reservation_form_part_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*gap: 12.65px;*/
    padding: 0 0 10px 0;
}
.reservation_form_part_3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 0 0;
}
input[type="text"]{
    color: #ffffff;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.375rem; /*22px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
    border: 1px solid #858585;
    background-color: transparent;
}
@media (max-width: 768px){
    input.reservation_form_part_1_field,
    input.reservation_form_part_2_field {
        width: 80vw;
    }
    input.email {
        width: 80vw;
        padding: 20px 100px 20px 24px;
    }
    .reservation_form_part_1,
    .reservation_form_part_2 {
        gap: 30px;
    }
}
.reservation_form_part_1_field {
    padding: 18px 23px 19px 23px;
    width: 307px;
}
.reservation_form_part_2_field {
    padding: 18px 25px 19px 25px;
    width: 198px;
}
.reservation_form_part_3_booking {
    padding: 23px 54px 12px;
    background-color: #FFFFFF;
}
[class*="_font"]{
    max-width: 129px;
    color: #FFF;
    font-family: Josefin Sans, sans-serif;
    font-size: 1.375rem; /*22px*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.2px;
    padding: 2px 75px 2px 0;
}
.booking_font {
    color: #000000;
    padding: 0;
}